/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
SELECT TOP (1000) [CASENO]
      ,[uid]
      ,[SDATE]
      ,[OD_idx]
      ,[rid]
      ,[TIMES_DAY]
      ,[METHOD]
      ,[TIME_QTY1]
      ,[DAYS]
      ,[BILL_QTY]
      ,[HC]
      ,[PRICE]
      ,[AMT]
      ,[CLASS]
      ,[CHRONIC]
  FROM [AL].[dbo].[tbl_opd_order]
  where	rid='DES01' and convert(int, BILL_QTY)>14