/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
SELECT [uid]
      ,[lid]
      ,[l05]
      ,[iid]
      ,[l07]
      ,[l09]
  FROM [AL].[dbo].[tbl_lab_record]
where	l07='未完成'

/*
uid	lid	l05	iid	l07	l09
H220919368	01060811000083	2017-08-09	125	未完成	＊
P122218170	01070425000023	2018-04-26	043	未完成	
N125489867	01080315000142	2019-03-11	030	未完成	
H120674602	01080315000143	2019-03-11	030	未完成	
F123388852	01080315000144	2019-03-11	030	未完成	
HD30050092	01080315000145	2019-03-11	030	未完成	
F132831017	01080315000146	2019-03-11	030	未完成	
H223761097	01080315000147	2019-03-11	030	未完成	
V121582837	01080315000148	2019-03-11	044	未完成	
H120674602	01080315000149	2019-03-11	030	未完成	
H124891136	01080315000150	2019-03-11	101	未完成	
H124891136	01080315000150	2019-03-11	102	未完成	
H124891136	01080315000150	2019-03-11	251	未完成	
H124891136	01080315000150	2019-03-11	252	未完成	
H124891136	01080315000150	2019-03-11	253	未完成	
H124891136	01080315000150	2019-03-11	254	未完成	
*/

--delete
--  FROM [AL].[dbo].[tbl_lab_record]
--where	l07='未完成'

select	*
from	al.dbo.tbl_lab_record
where	lid='01070425000023'


--delete
--from	al.dbo.tbl_lab
--where	lid in ('01080315000142','01080315000143','01080315000144','01080315000145','01080315000146','01080315000147','01080315000148','01080315000149','01080315000150','01080315000150','01080315000150','01080315000150','01080315000150','01080315000150')	
